<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actorRef" class="com.stackroute.domain.Actor" scope="" >
        <property name="name" value="Abhinav" />
        <property name="gender" value="Male" />
        <property name="age" value="25"/>
    </bean>

    <bean id="movie" class="com.stackroute.domain.Movie" scope="" >
      <property name="actor" ref="actorRef"/>
    </bean>

</beans>